.container-card {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 85%;
    // border: 1px solid $border_color;
    border-radius: 10px;
    padding: 100px;
    flex-wrap: wrap;
    .card {
        height: 300px;
        flex-basis: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(46,58,70);
        border: 1px solid $border_color;
        border-radius: 10px;
        margin: 20px;
        cursor: pointer;
        h3 {
            color: $color_text;
            text-align: center;
        }
        span {
            color: $color_text;
        }
        img {
            height: 180px;
            border: 1px solid $border_color;
            border-radius: 10px;
        }
    }
}
